<a href="https://colab.research.google.com/github/sarth101/DiwaliSales/blob/main/diwalisales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
df = pd.read_csv("Diwali Sales Data.csv",encoding="latin-1")

In [ ]:
df.head()

In [ ]:
df = df.drop(["Status","unnamed1"],axis=1)
df = df.dropna(subset = ["Amount"])

In [ ]:
print(df.describe())
print(df.info())

In [ ]:
df.head(10)

In [ ]:
gender_dis = sns.countplot(df["Gender"])
for x in gender_dis.containers:
    gender_dis.bar_label(x)
plt.plot()

In [ ]:
sho_mewo = df.groupby("Gender")["Orders"].sum()
plt.bar(sho_mewo.index,sho_mewo.values)

In diwali the womens do maximum shoppong than men

In [ ]:
Amount_gender = df.groupby("Gender")["Amount"].sum()
plt.bar(Amount_gender.index,Amount_gender.values,)
plt.plot()

women spend more money than men during diwali festivals

In [ ]:

state_amount = df.groupby("State")["Amount"].sum()
state_amount = state_amount.sort_values(ascending=False).head(10)
plt.figure(figsize=(17, 5))
x = sns.barplot(x = state_amount.index,y = state_amount.values)
for i in x.containers:
    x.bar_label(i)

In [ ]:
state_order = df.groupby("State")["Orders"].sum()
state_order = state_order.sort_values(ascending=False).head(10)
plt.figure(figsize=(17, 5))
x = sns.barplot(x= state_order.index,y = state_order.values)
for i in x.containers:
    x.bar_label(i)
plt.plot()

There is maximum order and expenses done by utterpradesh , Maharashtra, karnataka, delhi

In [ ]:
sns.countplot(y='Product_Category', data=df, order=df['Product_Category'].value_counts().index)

In [ ]:
order_category = df.groupby("Product_Category")["Orders"].sum()
order_category = order_category.sort_values(ascending = False)
sns.barplot(y=order_category.index,x = order_category.values)

In [ ]:
category_amount = df.groupby("Product_Category")["Amount"].sum()
category_amount = category_amount.sort_values(ascending = False)
sns.barplot(y=category_amount.index,x=category_amount.values)

The maximum order thing is clothes but most amount spended on food

In [ ]:
age_group_amount = df.groupby("Age Group")["Amount"].sum()
sns.barplot(x = age_group_amount.index,y=age_group_amount.values)

The maximum Amount is spend by 26-35 age group

In [ ]:
age_group_amount = df.groupby(["Age Group","Gender"])["Amount"].sum()
age_group_amount = age_group_amount.reset_index()
sns.barplot(x = "Age Group", y="Amount", hue="Gender", data=age_group_amount)

The maximum expenditure done by 26-35 age group womens

In [ ]:
occupation_amount = df.groupby(["Occupation","Gender"])["Amount"].sum()
occupation_amount = occupation_amount.reset_index()
x = sns.barplot(y = "Occupation", x="Amount", hue="Gender", data=occupation_amount)
#for i in x.containers:
#    x.bar_label(i)

There is maximum shopping done by IT Sector women's